<html
    lang="ko"
    xmlns:th="http://www.thymeleaf.org">

    <th:block th:fragment="cmHeader">
        <div class="header">
            <header class="header_tit">
                <h1 class="logo">
                    <a href="https://m.naver.com/" class="lnk_logo" title="네이버"> <span class="spr_bi ico_n_logo">네이버</span> </a>
                    <a th:href="@{/mainpage}" class="lnk_logo" title="예약"> <span class="spr_bi ico_bk_logo">예약</span> </a>
                </h1>
                <a id="login" th:href="@{/login}" class="btn_my"> <span class="viewReservation" title="로그인">로그인</span> </a>
                <a id="mypage" href="#" class="btn_my"><span>로그인 아이디</span></a>
            </header>
        </div>
    </th:block>
</html>
