<!DOCTYPE html>
<html
    lang="ko"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head>
        <th:block th:replace="fragment/cmHead :: cmHead"></th:block>
    </head>

    <body th:if="${loginPage} or ${logoutPage}" class="biz  ko">
        <th:block layout:fragment="content"></th:block>
        <th:block layout:fragment="script"></th:block>
    </body>
    <body th:unless="${loginPage} or ${logoutPage}" id="container">
        <div id="containerDiv">
            <th:block th:replace="fragment/cmHeader :: cmHeader"></th:block>
            <th:block layout:fragment="content"></th:block>
        </div>
        <th:block th:replace="fragment/cmFooter :: cmFooter"></th:block>
        <th:block layout:fragment="script"></th:block>
    </body>
</html>

